/.metadata/
/.recommenders/
ch2/target/classes/META-INF/maven/net.madvirus.spring4/spring4-chap02/pom.properties
spring02/target/m2e-wtp/web-resources/META-INF/maven/org.haven/expertspring30/pom.properties
spring01/target/m2e-wtp/web-resources/META-INF/maven/org.haven/expertspring30/pom.properties
aop2/target/m2e-wtp/web-resources/META-INF/maven/org.haven/expertspring30/pom.properties
ch09/target/m2e-wtp/web-resources/META-INF/maven/sp4/sp4-chap09/pom.properties
ch08/target/classes/META-INF/maven/com/Spring-ch08/pom.properties
ch04/target/classes/META-INF/maven/sp4/com-ch04/pom.properties
