<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>스타일쉐어 입니다</title>
</head>
<body>
<div>
    <h2>스타일쉐어 장바구니</h2>
    <table border="1">

        <thead>
            <tr>
             <th>상품명</th> <th>가격</th> <th>색상</th> <th>사이즈</th> <th>수량</th> <th>가격</th>
            </tr>
        </thead>
        <tbody   th:each="list:${list}">
            <tr>
                <td>[[${list.goods.name}]]</td>
                <td>[[${list.goods.price}]]</p></td>
                <td>[[${list.option.color}]]</td>
                <td>[[${list.option.size}]]</td>
                <td id="quantity">[[${list.quantity}]]</td>
                <td>[[${#numbers.formatCurrency(list.goods.price * list.quantity)}]]</td>
            </tr>
        </tbody>
    </table>
    <div>
    </div>
</div>
<script>

</script>

</body>
</html>