<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>상품조회</title>
</head>
<body>
<h2>상품 상세 페이지</h2>
<table border="1" >
    <thead>
    <tr>
        <th>상품명</th> <th>공급처</th> <th>가격</th> <th>색상</th> <th>크기</th> <th>수량</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="list : ${optionList}">
        <div >
            <td>[[${vo.name}]]</a> </td>
            <td>[[${vo.provider}]]</td>
            <td>[[${vo.price}]]</td>
            <td>[[${list.color}]]</td>
            <td>[[${list.size}]]</td>
            <td><input type="number" th:id="quantity+${list.oid}" name="quantity" min="1" max="10"></td>
            <td><a href="javascript:void(0);"  th:onclick="'javascript:addBasketItem('+${vo.gid}+','+${list.oid}+')'"><samll>담기</samll></a></td>
        </div>
    </tr>
    <div>
        <a href="/basket/list">장바구니 가기</a>
    </div>
    </tbody>
</table>
</body>
<script>
    function addBasketItem(gid,oid) {
        var stat = document.getElementById("quantity"+oid).value;
        var quantity = parseInt(stat,10);
        var JSONObject= {
            "goodsId" : gid,
            "optionId": oid,
            "quantity" : quantity
        };
        var jsonData = JSON.stringify( JSONObject );
        $.ajax({
            url : '/api/basket/'+gid+'/'+oid,
            method : 'post',
            data : jsonData,
            dataType: "text",
            contentType: "application/json",
            success : function (data) {
                if(data == "ok"){
                    alert("장바구니에 추가되었습니다.");
                }
            }
        });
    }
</script>
</html>