<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>스타일쉐어 입니다</title>
</head>
<body>
<div>
    <h2>안녕하세요 스타일쉐어 입니다</h2>
    <table border="1" >
        <thead>
            <tr>
             <th>상품명</th> <th>공급처</th> <th>가격</th>
            </tr>
        </thead>
        <tbody  th:each="list:${list}">
            <tr>
                <td><a th:href="@{'/goods/'+ ${list.gid}}">[[${list.name}]]</a> </td>
                <td>[[${list.provider}]]</td>
                <td>[[${list.price}]]</td>
            </tr>
        </tbody>
    </table>
</div>

</body>

</html>